
.section{
    position:fixed;
    height:100vh;
    width:40%;
    background-color: rgb(220,220,220);
    right:0;
    top: -1000px;
    z-index:2000;
    transition:2s smooth;
    padding-top:50px;
    text-align:center;
    border-left:2px solid rgb(255,128,0);
}
.section-item{
    height: 50px;
    font-family: 'Nunito', sans-serif;
    font-weight: bolder;
    border-bottom:2px solid rgb(24, 23, 23);
    width:500px;
    margin:auto;
    padding-top:20px;
    cursor:pointer;
    color: #000;
}
@media screen and (max-width:1200px){
    .section{
        width:100%;
        z-index: 25000;
        
    }
}

.close{
    position:relative;
    top:30px;
    left:50px;
    height:30px;
    width:30px;
    font-weight: bolder;
    font-size: 50px;
    transform: rotate(45deg);
    color: rgb(12, 12, 12);
    cursor:pointer;
    background: none;
}




.staticBtn{
    position:fixed;
    z-index:2500;
    right:40px;
    top:70px;
    cursor:pointer;
    background: none;
}

@media screen and (max-width:1000px){
    .static-btn{
        top: 150px;
    }
}     

.more-btn{
    width: 75px;
    height:auto;
    padding:10px;
    background-color: rgb(255,255,255,0.4);
    border-radius: 10px;
}
.move{
    top:0;
    z-index: 10000;
}
.line{
    height:5px;
    margin-bottom:5px;
    border-radius:10px;
}
.line-1{
    width: 70px;
    height:7px;
    background-color: rgb(19, 18, 18);
     animation: grow 2s linear infinite;
}
.line-2{
    width: 30px;
    background-color: rgb(12, 12, 12) ;
     animation: growtwo 2s linear infinite;
}
.line-4{
    width: 40px;
    background-color: rgb(22, 21, 22);
}
.line-3{
    width: 50px;
    background-color: rgb(15, 15, 15) ;
}

.more-btn:hover .line-1{
    animation: grow 2s linear infinite;
} 

@keyframes grow {
    0%{
        width:70px;
    }
    25%{
        width:40px;
    }
    50%{
        width:60px;
    }
    100%{
        width:70px;
    }
}

.more-btn:hover .line-2{
    animation: growtwo 2s linear infinite;
}

@keyframes growtwo {
    0%{
        width:30px;
    }
    25%{
        width:40px;
    }
    50%{
        width:10px;
    }
    100%{
        width:30px;
    }
}

.more-btn:hover .line-3{
    animation: growthree 2s linear infinite;
}
@keyframes growthree {
    0%{
        width:50px;
    }
    25%{
        width:20px;
    }
    50%{
        width:40px;
    }
    100%{
        width:50px;
    }
}

.more-btn:hover .line-4{
    animation: growfour 2s linear infinite;
}
@keyframes growfour {
    0%{
        width:40px;
    }
    25%{
        width:20px;
    }
    50%{
        width:50px;
    }
    100%{
        width:40px;
    }
}

